<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <div>
        <form action="" method="post">
            <input type="text" name="number" id="number" placeholder="Enter phone number">
            <br>
            <br>
            <input type="email" name="email" id="email" placeholder="Enter email">
            <br>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>