<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Registration</h1>
    </div>
    <div>
    <form align="center"  action="" method="post">
        <label for="username">Username: </label>
        <input type="text" placeholder="Enter your user id" id="username" name="username">
        <br>
        <br>
        <label for="password">Password: </label>
        <input type="password" placeholder="Enter your password" id="password" name="password">
        <br>
        <br>
        <input type="name" placeholder="Name" id="name" name="name">
        <br>
        <br>
        <input type="name" placeholder="Surname" id="surname" name="surname">
        <br>
        <br>
        <button>Submit</button>
    </form>
    </div>
    <div>
    <a href="registration">
        <button>Register</button>
    </a>
    </div>
</body>
</html>